html,body{
    margin: 0;
    height: 100%;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: #666;
}
.pimg_1{
    background-image: url(image1.png);
    min-height: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.pimg_2{
    background-image: url(image2.png);
    min-height: 400px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.pimg_3{
    background-image: url(image3.png);
    min-height: 400px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.ptext_1{
    padding-top: 285px;
}
.ptext_2{
    padding-top: 180px;
}
.ptext_3{
    padding-top: 160px;
}
.textbg_1{
    font-weight:lighter;
    font-size: 50px;
    letter-spacing: 5px;
    color: white;
    margin-left: 460px;
    text-transform: uppercase;
    background-color: #313534;
}
.textbg_2{
    font-weight:lighter;
    font-size: 50px;
    letter-spacing: 5px;
    color: white;
    margin-left: 460px;
    text-transform: uppercase;
    background-color: #313534;
}
.textbg_3{
    font-weight:lighter;
    font-size: 50px;
    letter-spacing: 5px;
    color: white;
    margin-left: 330px;
    text-transform: uppercase;
    background-color: #313534;
}
.text_section_1{
    background-color: #f4f4f4;
    color: #666;
}
.text_section_2{
    background-color: #282e34;
    color: #ddd;
}
.text_section_3{
    background-color: #282e34;
    color: #ddd;
}
.text_1{
    padding: 50px 80px;
    text-align: center;
}
.text_2{
    padding: 50px 80px;
    text-align: center;
}
.text_3{
    padding: 50px 80px;
    text-align: center;
}



